/* Importar fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Knewave&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: url('imagen/Tarjeta Baby Showe 1.png');
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif; /* Fuente general para el cuerpo */
}

/* Estilo para el contenedor de la invitación */
.invitation {
    text-align: center;
    background-image: url('imagen/Tarjeta Baby Showe 1.png');
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    width: 90%;
}

/* Estilo para la imagen de la invitación */
.invitacion-imagen {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Estilo para el botón y el selector */
button {
    font-family: 'Krona One', sans-serif; /* Aplicar fuente personalizada para el botón */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF9D3D;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

button:hover {
    background-color: #e69b59;
}

select {
    font-family: 'Montserrat', sans-serif; /* Aplicar fuente personalizada para el selector */
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Ajuste del contenido oculto */
.hidden {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Ajuste para centrar exactamente */
    background-color: #FEEE91;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    width: 90%;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Ocultar por defecto */
.hidden.hidden {
    display: none;
}

/* Estilo para el label de invitación */
.invitacion-label {
    font-family: 'Krona One', sans-serif; /* Aplicar fuente personalizada al texto del label */
    font-size: 18px;
    color: #519ea7;
    margin-bottom: 10px;
}
